.searchBox{
    width: 70%;
    text-align: center;
    position: relative;
    left:15%;
    padding: 10px;
    border-radius: 20px;
}
.home{
    margin-top: 50px;
}
@media screen and (max-width:500px){
   .home{
    margin-top: 250px;
   }
      
   
}