h1{
    text-align: center;
}
.card{
    display: inline-block;
    margin: 1rem;
    position: inherit;
    border: solid 1px;
    border-radius: 20px;
    float: left;
    width: 320px;
    height: 600px;
    padding: 10px;
    background-color: #EFF0F1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card p{
    overflow: hidden;
    word-wrap: break-word;
}
.card img{
    width: 100%;
    height:300px ;
}
.button{
    position: relative;
    left:  10%;
    margin: 20px;
}
#add{
    background-color: #4CAF50;  
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 10px;
}
#delete{
    background-color: #eb0b0b;  
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 10px;
    margin-bottom: 3px;
}
.card h1{
    text-align: center;
}