.dashboardCss{
    margin-top: 50px;
}
.dashboard-form{
    position: relative;
    left: 5%;
    border: 1px solid;
    border-radius: 20px;
    width: 350px;
    padding: 10px;
    background-color: #EFF0F1;
}
.dashboard-form table td{
    padding: 10px;
}
.dashboard-form form select{
    width: 150px;
    border-radius: 10px;
}
.dashboard-form form input:focus{
    border-radius: 10px;
}
.dashboard-form button{
    background-color: #4CAF50;  
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 10px;
}
@media screen and (max-width:500px){
    .dashboardCss{
     margin-top: 250px;
     width: 200px;
    }

 }